.bg-img-login {
  background-image: url("../../../../assets/images/background-image/bg-login.jpg");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.bg-img-complete-profile {
  background-image: url("../../../../assets/images/background-image/bg-complete-profile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100% !important;

  @media screen and (max-width: 575px) {
    /* Handphone */
    height: 100vh !important;
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    /* Tablet */
    height: 100vh !important;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    /* Laptop */
    height: 100% !important;
  }

  @media screen and (min-width: 992px) {
    // /* PC */
    height: 100% !important;
    // padding-bottom: 120px;
  }
}

.bg-img-register {
  background-image: url("../../../../assets/images/background-image/bg-register.svg");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.bg-img-verification {
  background-image: url("../../../../assets/images/background-image/bg-verification.svg");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.bg-img-forgot-password {
  background-image: url("../../../../assets/images/background-image/bg-forgot-password.svg");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
